<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>Gamer's Guide</title>
</head>
<body class="hero-image">
     <nav class="custom-nav">
    <div>
      <a href="{{url_for('get_games')}}" class="brand-logo">Gamer's Guide</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{url_for('get_games')}}">Home</a></li>
        <li><a href="{{url_for('add_game')}}">Add game</a></li>
        <li><a href="{{url_for('list_games')}}">Games</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
        {% block content %} {% endblock %}
    </div>
    <footer class="page-footer custom-footer">
        <div class="row">
            <div class="col s9">
                <h6>"It is in games that many men discover their paradise"</h6>
                <div>Robert Wilson Lynd</div>
            </div>
            <div class="col s3">
                <h6>Gamer's Guide</h6>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('select').formSelect();
        });
    </script>
</body>
</html>