{% extends 'base.html'%} {% block content %}

<h3>Edit Existing Game</h3>
<form action="{{ url_for('update_game', game_id=game._id) }}" method="POST" class="col s12">    
<!-----------------------------------------editting game name-->
        <div class="row">
            <div class="input-field col s6">
                    <input placeholder="{{game.name}}" value="{{name}}" id="name" name="name" type="text" class="validate">
                    <label for="name">Game Name</label>
            </div>
         </div>
<!-----------------------------------------editting game genre-->
        <div class="row">
                <div class="input-field col s12">
                    <select id="genre_type" name="genre_type">
                    <option value="{{genre_type}}" >{{game.genre_type}}</option>
                    {% for genre in genres %}
                    <option value="{{genre.genre_type}}">{{genre.genre_type}}</option>
                    {% endfor %}
                    </select>
                    <label>Select Genre</label>
                </div>
        </div>
<!-----------------------------------------editting game console-->
        <div class="row">
                <div class="input-field col s12">
                    <select id="console_type" name="console_type">
                    <option value="{{console_type}}" selected>{{game.console_type}}</option>
                    {% for console in consoles %}
                    <option value="{{console.console_type}}">{{console.console_type}}</option>
                    {% endfor %}
                    </select>
                    <label>Select Console</label>
                </div>
        </div>
<!-----------------------------------------editting game image-->
        <div class="row">
                <div class="input-field col s6">
                    <input placeholder="We need an image URL" id="image" name="image" value="{{game.image}}" type="text" class="validate">
                    <label for="name">URL for image</label>
                </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Submit Review</button>
</form>


{% endblock %}