{% extends 'base.html'%} {% block content %}

<h1 class="page-headers">Edit Existing Game</h1>
<form action="{{ url_for('update_game', game_id=game._id) }}" method="POST" class="col s12">    
        <!---editting game name-->
        <div  class="row">
            <div class="col s12 m6">
                    <h4 class="editing-font">{{game.name}}</h4>
                    <hr>
                    <h4 class="editing-font">Current Genre: {{game.genre_type}}</h4>
                    <hr>
                    {% for console_type in game.console_type %}
                    <h4 class="editing-font">Current Console Info</h4>
                        {% if console_type.one == "PS4"%}
                            <p class="paragraph-font">{{console_type.one}}</p>
                        {% else %}
                        {% endif %}
                        {% if console_type.two == "XboxOne"%}
                            <p class="paragraph-font">{{console_type.two}}</p>
                        {% else %}
                        {% endif %}
                        {% if console_type.three == "PC"%}
                            <p class="paragraph-font">{{console_type.three}}</p>
                        {% else %}
                        {% endif %}
                        {% if console_type.four == "Nintendo Switch"%}
                            <p class="paragraph-font">{{console_type.four}}</p>
                        {% endif %}
                    {% endfor %}
            </div>
            <div class="col s12 m6">
                    <div class="image-info"><img src="{{game.image}}" class="game-page-images" alt="{{game.name}}'s image'"></div>
            </div>
         </div>
         <hr>
        <!---editting game genre-->
        <div class="row form-display">
            <h4 class="form-headers">Select Genre</h4>
                <div class="input-field col s12 form-color">
                    <select  required id="genre_type" name="genre_type">
                    <option value="" disabled selected>Choose your Genre</option>
                    {% for genre in genres %}
                    <option class="form-color" value="{{genre.genre_type}}">{{genre.genre_type}}</option>
                    {% endfor %}
                    </select>
                </div>
        </div>
        <!---editting game console-->
         <div class="row form-display">
            <h4 class="form-headers">Select console</h4>
                <div class="input-field col s3 push-s2 form-color">
                    <select  id="console_type_one" name="console_type_one">
                            <option value="wrong">PS4?</option>
                            <option value="PS4">PS4</option>
                            <option value="Incompatible with PS4">Incompatible with PS4</option>
                    </select>
                </div>
                <div class="input-field col s3 push-s5 form-color">
                    <select id="console_type_two" name="console_type_two">
                            <option value="wrong">XboxOne?</option>
                            <option value="XboxOne">XboxOne</option>
                            <option value="Incompatible with XboxOne">Incompatible with XboxOne</option>
                    </select>
                </div>
         </div>
         <div class="row">
                <div class="input-field col s3 push-s2 form-color">
                    <select id="console_type_three" name="console_type_three">
                            <option value="wrong">PC?</option>
                            <option value="PC">PC</option>
                            <option value="Incompatible with PC">Incompatible with PC</option>
                    </select>
                </div>
                <div class="input-field col s3 push-s5 form-color">
                    <select id="console_type_four" name="console_type_four">
                            <option value="wrong">Nintendo Switch?</option>
                            <option value="Nintendo Switch">Nintendo Switch</option>
                            <option value="Incompatible with Nintendo Switch">Incompatible with Nintendo Switch</option>
                    </select>
                </div>
        </div>
        <!---editting game image-->
        <div class="row form-display">
            <h4 class="form-headers">URL for image</h4>
                <div class="input-field col s6  push-s3 form-color">
                    <input placeholder="We need an image URL" id="image" name="image" value="{{game.image}}" type="text" class="validate">
                </div>
        </div>
        <div class="btn-position">
            <button class="btn waves-effect btn-color" type="submit">Edit Details</button>
        </div>
</form>


{% endblock %}