{% extends 'base.html'%} {% block content %}

<h3>Edit Existing Game</h3>
<form action="{{ url_for('update_game', game_id=game._id) }}" method="POST" class="col s12">    
<!-----------------------------------------editting game name-->
        <div  class="row">
            <div class="col s6">
                    <h2>{{game.name}}</h2>
            </div>
            <div class="col s6">
                    <img src="{{game.image}}" class="game-page-images" alt="{{game.name}}'s image'">
            </div>
         </div>
<!-----------------------------------------editting game genre-->
        <div class="row">
            <h4>Select Genre</h4>
                <div class="input-field col s12 form-color">
                    <select placeholder="{{game.genre_type}}"  id="genre_type" name="genre_type">
                    {% for genre in genres %}
                    <option placeholder="{{game.genre_type}}" class="form-color" value="{{genre.genre_type}}">{{genre.genre_type}}</option>
                    {% endfor %}
                    </select>
                </div>
        </div>
<!-----------------------------------------editting game console-->
         <div class="row">
            <h4>Select console</h4>
                <div class="input-field col s3 form-color">
                    <select  id="console_type_one" name="console_type_one">
                            <option value="PS4">PS4</option>
                            <option value="Incompatible with PS4">Incompatible with PS4</option>
                    </select>
                </div>
                <div class="input-field col s3 push-s3 form-color">
                    <select id="console_type_two" name="console_type_two">
                            <option value="XboxOne">XboxOne</option>
                            <option value="Incompatible with XboxOne">Incompatible with XboxOne</option>
                    </select>
                </div>
         </div>
         <div class="row">
                <div class="input-field col s3 form-color">
                    <select id="console_type_three" name="console_type_three">
                            <option value="PC">PC</option>
                            <option value="Incompatible with PC">Incompatible with PC</option>
                    </select>
                </div>
                <div class="input-field col s3 push-s3 form-color">
                    <select id="console_type_four" name="console_type_four">
                            <option value="Nintendo Switch">Nintendo Switch</option>
                            <option value="Incompatible with PC">Incompatible with Nintendo Switch</option>
                    </select>
                </div>
        </div>
<!-----------------------------------------editting game image-->
        <div class="row">
            <h4>URL for image</h4>
                <div class="input-field col s6  form-color">
                    <input placeholder="We need an image URL" id="image" name="image" value="{{game.image}}" type="text" class="validate">
                </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Edit Details</button>
</form>


{% endblock %}