{% extends 'base.html'%} {% block content %}

    {% for game in games %}
    {% if game.game_id == this_game.game_id %}
    <div class="row">
        <article>
            <h1>{{game.name}}</h1>
            <div class="row">
                <div class="col s8">
                    <img src="{{game.image}}" class="game-images" alt="">
                </div>
                <div class="col s4">
                    <h4>{{game.console_type}}</h4>
                    <h4>{{game.genre_type}}</h4>
                    
                </div>
            </div>
            <p>{{game.review.0.comments}}</p>
            <h4>{{game.review.0.rating}} Stars</h4>
        </article>
    </div>
    {% else %}
    <h1>sorry it didnt load</h1>
    {% endif %}

    {% endfor %}


{% endblock %}