{% extends 'base.html'%} {% block content %}

        <div class="row">
            <article>
                <h1>{{game.name}}</h1>
                <div class="row">
                    <div class="col s8">
                        <img src="{{game.image}}" class="game-images" alt="">
                    </div>
                    <div class="col s4">
                        <h4>{{game.console_type}}</h4>
                        <h4>{{game.genre_type}}</h4>
                        
                    </div>
                </div>
                
                {% for review in game.review %}
                <p>{{review.comments}}</p>
                <h4>{{review.rating}} Stars</h4>

                {% endfor %}
            </article>
            <div class="row">
                <div class="col s4">
                    <h5>Disagree with whith the review? Write your own here</h5>
                    <a href="{{url_for('add_review', game_id=game._id)}}" class="btn waves-effect waves-light">add your own review to this game!</a>
                </div>
                <div class="col s4">
                    <h5>Any game info incorrect? click here to change</h5>
                    <a href="{{url_for('edit_game', game_id=game._id)}}" class="btn waves-effect waves-light">Fix information</a>
                </div>
                <div class="col s4">
                    <h5>Is the game fictional? Is the information added offensive? click to delete</h5>
                    <a href="{{url_for('delete_game', game_id=game._id)}}" class="btn waves-effect waves-light">Report game</a>
                </div>
            </div>
        </div>



{% endblock %}