{% extends 'base.html'%} {% block content %}

        <div class="row">
            <article>
                <h1>{{game.name}}</h1>
                <div class="row">
                    <div class="col s8">
                        <img src="{{game.image}}" class="game-images" alt="">
                    </div>
                    <div class="col s4">
                        <h4>{{game.console_type}}</h4>
                        <h4>{{game.genre_type}}</h4>
                        
                    </div>
                </div>
                
                {% for review in game.review %}
                <p>{{review.comments}}</p>
                <h4>{{review.rating}} Stars</h4>

                {% endfor %}
            </article>
        </div>



{% endblock %}