{% extends 'base.html'%} {% block content %}
     <h1>Gamer's Guide</h1>
     <div class="row">
        <div class="col s6 offset-s2">
            <h4>Select by Console</h4>
            {% for console in consoles %}
            <ul>
               <li> <a href="#">{{console.console_name}}</a></li>
            </ul>
            {% endfor %}
        </div>
        <div class="col s4">
            <h4>5 star games</h4>
            {% for game in games %}
                {% if game.review.0.rating == 5 %}
                    <ul>
                      <li> <a href="#">{{game.name}}</a></li>
                    </ul>
                
                {% endif %}

            {% endfor %}
        </div>
     </div>

{% endblock %}