{% extends 'base.html'%} {% block content %}
     <h1>Gamer's Guide</h1>
     <div class="row">
        <div class="col s6 offset-s2">
            <h4>Select by Console</h4>
            {% for console in consoles %}
            <ul>
               <li> <a href="#">{{console.console_name}}</a></li>
            </ul>
            {% endfor %}
        </div>
        <div class="col s4">
            <h4>5 star games</h4>
            {% for game in games %}
                {% for review in game.review %}
                    {% if review.rating == 5 %}
                        <ul>
                        <li> <a href="#">{{game.name}}</a></li>
                        </ul>
                    
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>
     </div>

{% endblock %}




    <!-- game = mongo.db.games.find_one({"_id": ObjectId(game_id)})

    name = request.form['name']
    console_type = request.form['console_type']
    genre_type = request.form['genre_type']
    image = request.form['image']

    game.update(
        {'_id': ObjectId(game_id)},
        {"$set": {
            'name': name,
            'console_type': console_type,
            'genre_type': genre_type,
            'image': image
            }}
    )
    return redirect(url_for("list_games")) -->